&share
 wrf_core = 'ARW',
 max_dom = 1,
 start_date = '%%YRST%%-%%MONST%%-%%DAYST%%_00:00:00',
 end_date   = '%%YREND%%-%%MONEND%%-%%DAYEND%%_18:00:00',
 interval_seconds = 21600
 io_form_geogrid = 2,
/

&ungrib
 out_format = 'WPS',
 prefix = 'SFCFILE',
/

